<h1>Pages#login</h1>
<p>Find me in app/views/pages/login.html.erb</p>

<%= form_tag :action => 'login' %>
  <%= text_field_tag  'email' %>
  <%= password_field_tag 'password' %>
  <%= submit_tag 'Login'  %>
</form>
